* {
    margin: 0%;
    padding: 0%;

}
. h1 {
font-size: large;
color: blue;
}

. hola-mundo {
    background-color: blanchedalmond;
    text-align: center;
    margin: 20px;
}

. flex-index {
    display: flex;
    flex-wrap: wrap;
}